.grams {
  display: none;
}

.mils {
  display: none;
}

.form-control {
  text-align: right;
  /* remove default arrows from number type input fields */
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.text {
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: space-evenly;

}

#jumbotron {

  background-color: #f7f0f0;
}

#concentrate {
  background-color: #fff7ff;
  color: blue;
}

.full-tank {
  color: blue;
}

.container {
  max-width: 720px;
}
